body {
	background-color:#ccc;
}

pre {
	background-color:#fff;
	margin:25px;
	padding:25px;
}

pre.subroutines.popup {
    border : 1px solid red;
    position : absolute;
}
#subroutinesMAIN {
    display : block;
}

span.global{
	background-color: #eee;
}

span.trace{
	background-color: #fd0;
}
